<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Spring Security Example</title>
    </head>
    <body>
    	<div sec:authorize="isAuthenticated()"><p>You are auth</p></div>
        <h1>Welcome!</h1>
        <p>Welcome to the Super Simple Login App</p>
        <p>Click <a th:href="@{/resource}">here here to see a secret resource</a></p>
    </body>
</html>