<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<head>
		<title>Super Simple Login App</title>        
		<link type="text/css"  href="css/bootstrap.min.css" rel="stylesheet" />
		<link type="text/css" href="css/style.css" rel="stylesheet" />
	</head>
	<body>
		<div class="container-fluid">
			<div class="row">
			<div class="col-md-12">
				<div th:replace="fragments/headerfragment :: header"></div>
				<div th:if="${param.error}">Invalid username and password.</div>
				<div th:if="${param.logout}">You have been logged out.</div>
				<div class="jumbotron well">
					<form role="form" th:action="@{/login}" method="post">
						<div class="form-group">					 
							<label for="usernameInputID">User Name</label>
							<input type="text" class="form-control" name="username" id="usernameInputID" />
						</div>
						<div class="form-group">					 
							<label for="passwordInputID">Password</label>
							<input type="password" class="form-control" name="password" id="usernameInputID" />
						</div>
						<button type="submit" class="btn btn-default">Sign In</button>
					</form>
					<p>Click <a th:href="@{/register}">here</a> to register a new user</p>
				</div>
			</div>
			</div>
		</div>    

	</body>
</html>