<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Register!</title>
</head>
	<body>
		<h1>Register</h1>
	    	<form action="#" th:action="@{/createAppUser}" th:object="${AppUserFromInput}" method="post">
	            <div><label> Select A Username : <input type="text" name="newusername" th:field="*{username}"/> </label></div>
	            <div><label> Select A Password : <input type="password" name="newpassword" th:field="*{password}"/> </label></div>
	            <div><input type="submit" value="Sign In"/></div>
	        </form>
	</body>
</html>